@media screen and (width <= 714px) {
    footer {
        justify-content: center;

        div {
            &:last-child {
                padding: 15px;
            }
        }


    }
}

@media screen and (width <= 456px) {
    footer {
        div {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

}